* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  overflow-x: hidden;
}

.full-container {
  position: relative;
}

.pageTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px 0px 0px 100px;
  -webkit-animation: topSlide 900ms ease-in-out;
          animation: topSlide 900ms ease-in-out;
}

.pageTitle > img {
  height: 50px;
  width: 50px;
  margin-right: 25px;
  cursor: pointer;
}

.taskbar {
  position: relative;
}

.taskbar p {
  color: white;
  font-size: 36px;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p:first-child {
  color: #DEFA37;
}

p:last-child {
  color: #FADA89;
}

.taskbar > ul {
  position: absolute;
  top: 20px;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 10px;
  margin: 5px 250px 0px 0px;
  -webkit-animation: topSlide 900ms ease-in-out;
          animation: topSlide 900ms ease-in-out;
}

.taskbar > ul > li {
  padding-left: 100px;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.2rem;
  list-style: none;
  white-space: nowrap;
  cursor: pointer;
}

@-webkit-keyframes topSlide {
  0% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes topSlide {
  0% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.log-in {
  position: relative;
  right: 10px;
  bottom: 10px;
  background-color: #DBB11D;
  padding: 1rem 2.5rem;
  border-radius: 24px;
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}

.log-in:hover {
  -webkit-box-shadow: #DBB11D;
          box-shadow: #DBB11D;
}

.cover-splash {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 400px 800px;
      grid-template-columns: 400px 800px;
  margin: 10% 0px 0px 20%;
}

.lead-header {
  color: aqua;
  font-size: 36px;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 0px 20px 25px 0px;
  -webkit-animation: rotation 5s cubic-bezier(0.19, 1, 0.22, 1);
          animation: rotation 5s cubic-bezier(0.19, 1, 0.22, 1);
}

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  50% {
    -webkit-transform: rotateY(50deg);
            transform: rotateY(50deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}

@keyframes rotation {
  0% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  50% {
    -webkit-transform: rotateY(50deg);
            transform: rotateY(50deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}

.lead-desc {
  color: #7B6B6B;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 25px;
}

.lead-title > button {
  position: relative;
  white-space: nowrap;
  padding: 0.5rem 1.5rem;
  outline: none;
  background-color: #7E8110;
  border-radius: 24px;
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  color: white;
  cursor: pointer;
  -webkit-animation: 5s xrotate cubic-bezier(0.25, 0.46, 0.45, 0.94);
          animation: 5s xrotate cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

@-webkit-keyframes xrotate {
  0% {
    -webkit-transform: rotateZ(180deg);
            transform: rotateZ(180deg);
  }
  39% {
    -webkit-transform: rotateX(25deg);
            transform: rotateX(25deg);
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
}

@keyframes xrotate {
  0% {
    -webkit-transform: rotateZ(180deg);
            transform: rotateZ(180deg);
  }
  39% {
    -webkit-transform: rotateX(25deg);
            transform: rotateX(25deg);
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
}

.top-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-image > img {
  height: 231px;
  width: 400px;
  margin-left: 20px;
  cursor: pointer;
  -webkit-animation: slideInTop 1.5s cubic-bezier(0.21, 0.19, 0.37, 1.39) 0s 1;
          animation: slideInTop 1.5s cubic-bezier(0.21, 0.19, 0.37, 1.39) 0s 1;
}

@-webkit-keyframes slideInTop {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes slideInTop {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(400%);
            transform: translateX(400%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(400%);
            transform: translateX(400%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.shadow {
  -webkit-animation: slideInLeft 1.5s ease-out 0s 1;
          animation: slideInLeft 1.5s ease-out 0s 1;
  width: 480px;
  height: 12px;
  background: #937E35;
  border-radius: 95%;
}

.display-cards {
  margin: 500px 0px 0px 7%;
}

.card-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -20px;
}

.btc-descrip, .ether-descrip, .altcoins-descrip {
  color: white;
  margin-left: 150px;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  padding: 10px 0px 100px 70px;
  width: 400px;
  border: 7px solid #D9DA9C;
  border-radius: 41px;
  -webkit-animation: pop-out 3.5s ease-in-out;
          animation: pop-out 3.5s ease-in-out;
}

.btc-descrip:hover, .ether-descrip:hover {
  cursor: pointer;
}

.altcoins-descrip:hover {
  cursor: pointer;
}

.altcoins-descrip > img {
  height: 220px;
  width: 280px;
  -o-object-fit: cover;
     object-fit: cover;
}

@-webkit-keyframes pop-out {
  0% {
    -webkit-box-shadow: 20px 20px 10px #424215;
            box-shadow: 20px 20px 10px #424215;
    -webkit-transform: rotateZ(30deg);
            transform: rotateZ(30deg);
  }
  70% {
    -webkit-box-shadow: 20px 20px 10px #929262;
            box-shadow: 20px 20px 10px #929262;
    -webkit-transform: rotateZ(-20deg);
            transform: rotateZ(-20deg);
  }
  98% {
  }
}

@keyframes pop-out {
  0% {
    -webkit-box-shadow: 20px 20px 10px #424215;
            box-shadow: 20px 20px 10px #424215;
    -webkit-transform: rotateZ(30deg);
            transform: rotateZ(30deg);
  }
  70% {
    -webkit-box-shadow: 20px 20px 10px #929262;
            box-shadow: 20px 20px 10px #929262;
    -webkit-transform: rotateZ(-20deg);
            transform: rotateZ(-20deg);
  }
  98% {
  }
}

.btc-descrip > img, .ether-descrip > img {
  margin: 20px 0px 0px 10px;
  height: 200px;
  width: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.btc-descrip > p, .ether-descrip > p, .altcoins-descrip > p {
  margin: 20px 40px 0px 0px;
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.crypto-options {
  position: relative;
  margin: 400px 0px 0px 10%;
}

.dapps {
  margin-left: 150px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.circle-wrapper {
  position: relative;
  min-height: 455px;
  min-width: 455px;
}

.circle {
  position: absolute;
  width: 450px;
  height: 450px;
  background: transparent;
  border-radius: 95%;
  border: 4px solid #CCCF47;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-shadow: 10px 5px #829263;
          box-shadow: 10px 5px #829263;
}

.one {
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
  -webkit-animation-name: slidein;
          animation-name: slidein;
}

@-webkit-keyframes slidein {
  from {
    margin-right: 100%;
    width: 200%;
  }
  75% {
    width: 150%;
  }
  to {
    margin-right: 0%;
    width: 100%;
  }
}

@keyframes slidein {
  from {
    margin-right: 100%;
    width: 200%;
  }
  75% {
    width: 150%;
  }
  to {
    margin-right: 0%;
    width: 100%;
  }
}

.two {
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
  -webkit-animation-name: fadeInOut;
          animation-name: fadeInOut;
}

@-webkit-keyframes fadeInOut {
  from {
    margin-right: 100%;
    height: 200%;
  }
  75% {
    width: 150%;
  }
  to {
    margin-right: 0%;
    height: 100%;
  }
}

@keyframes fadeInOut {
  from {
    margin-right: 100%;
    height: 200%;
  }
  75% {
    width: 150%;
  }
  to {
    margin-right: 0%;
    height: 100%;
  }
}

.three {
  -webkit-animation-duration: 6.5s;
          animation-duration: 6.5s;
  -webkit-animation-name: bounce;
          animation-name: bounce;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
  }
  100% {
    -webkit-transform: rotate(0px);
            transform: rotate(0px);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
  }
  100% {
    -webkit-transform: rotate(0px);
            transform: rotate(0px);
  }
}

.circle > img {
  margin-left: 37px;
  height: 250px;
  width: 370px;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}

.dapps-1 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-top: 400px;
}

.dapps-1 > img {
  margin-left: 37px;
  height: 250px;
  width: 370px;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
  margin-right: 20%;
}

.dapps-1 > .circle-wrapper {
  margin-right: 200px;
}

.exploreTitle {
  margin-left: 50px;
}

.exploreTitle > p {
  margin-top: 40px;
  padding: 0px 40px 0px 40px;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.exploreTitle-1 > p, .exploreTitle-2 > p {
  margin-top: 40px;
  padding: 0px 40px 0px 40px;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.exploreTitle > p {
  margin-right: 200px;
}

.exploreTitle > h1 {
  display: inline-block;
  margin-left: 200px;
  font-size: 36px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  color: #2EDFCA;
}

.exploreTitle-1 > h1, .exploreTitle-2 > h1 {
  display: inline-block;
  margin-left: 200px;
  font-size: 36px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  color: #2EDFCA;
}

.exploreTitle-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10%;
}

.exploreTitle-1 > h1 {
  margin-right: 200px;
  white-space: nowrap;
}

.dapps-2 {
  margin-top: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dapps-2 > img {
  margin-left: 30px;
  cursor: pointer;
}

.exploreTitle-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 90px 0px 0px 200px;
  padding-right: 300px;
}

.line-wrapper-1, .line-wrapper-2 {
  position: relative;
  min-height: 450px;
  max-width: 550px;
}

.line-wrapper-1 {
  bottom: 1600px;
  left: 550px;
}

.line-wrapper-2 {
  bottom: 1240px;
  left: 550px;
}

.connectline1 {
  position: absolute;
  bottom: 0%;
  left: 50%;
  height: 500px;
  border-left: 6px solid #CCCF47;
  -webkit-transform: rotate(-55deg);
          transform: rotate(-55deg);
}

.connectline2 {
  position: absolute;
  bottom: 0%;
  left: 50%;
  height: 500px;
  border-left: 6px solid #CCCF47;
  -webkit-transform: rotate(53deg);
          transform: rotate(53deg);
}

.signup {
  display: inline-block;
  margin-left: 250px;
  margin-top: -450px;
}

.more {
  margin-top: 300px;
}

.sign-up-wrapper {
  min-width: 800px;
  margin-left: 27%;
}

.form-body {
  position: relative;
  border-radius: 67px;
  padding: 14.5rem 12.5rem;
  width: 935px;
  height: 318px;
  -webkit-animation: 10s pulseX;
          animation: 10s pulseX;
  background-image: -webkit-gradient(linear, left top, right top, from(#837544), to(#E0BD3F));
  background-image: linear-gradient(to right, #837544, #E0BD3F);
}

@-webkit-keyframes pulseX {
  0% {
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes pulseX {
  0% {
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

form {
  border: 1px solid grey;
  background-color: white;
  padding: 2px;
}

.form-holder {
  position: absolute;
  min-width: 470px;
  right: 30%;
  top: 33%;
}

form > input {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  border: none;
  font-size: 25px;
}

form > input:focus {
  outline: none;
}

.form-body > h1 {
  position: absolute;
  top: 5%;
  left: 20%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 36px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

button {
  margin-top: 50px;
  margin-left: 70%;
  outline: none;
  background-color: #4BDB48;
  width: 161px;
  height: 58px;
  font-size: 18px;
  font-weight: bold;
}

button:hover {
  cursor: pointer;
}

.email {
  margin-top: 50px;
}

.email > input {
  font-size: 25px;
}

.more-wrapper {
  margin-left: 0%;
  padding-bottom: 50px;
  -webkit-transition: -webkit-transform 2s cubic-bezier(0.075, 0.82, 0.165, 1) 3s;
  transition: -webkit-transform 2s cubic-bezier(0.075, 0.82, 0.165, 1) 3s;
  transition: transform 2s cubic-bezier(0.075, 0.82, 0.165, 1) 3s;
  transition: transform 2s cubic-bezier(0.075, 0.82, 0.165, 1) 3s, -webkit-transform 2s cubic-bezier(0.075, 0.82, 0.165, 1) 3s;
}

.more-wrapper:hover {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.more-wrapper ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.more-wrapper ul > li {
  white-space: nowrap;
  margin-left: 350px;
  color: white;
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/*# sourceMappingURL=style.css.map */