* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  
    &::before, &::after {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }
  }
  
  body {
    background-color: black;
    overflow-x: hidden;
  }
  
  .full-container {
    position: relative;
  }
  
  .pageTitle {
    display: flex;
    padding: 25px 0px 0px 100px;
    animation: topSlide 900ms ease-in-out;
  
    > img {
      height: 50px;
      width: 50px;
      margin-right: 25px;
      cursor: pointer;
    }
  }
  
  .taskbar {
    position: relative;
  
    p {
      color: white;
      font-size: 36px;
      font-weight: bold;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
  }
  
  p {
    &:first-child {
      color: #DEFA37;
    }
  
    &:last-child {
      color: #FADA89;
    }
  }
  
  .taskbar > ul {
    position: absolute;
    top: 20px;
    left: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 10px;
    margin: 5px 250px 0px 0px;
    animation: topSlide 900ms ease-in-out;
  
    > li {
      padding-left: 100px;
      color: white;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: 1.2rem;
      list-style: none;
      white-space: nowrap;
      cursor: pointer;
    }
  }
  
  @keyframes topSlide {
    0% {
      transform: translateY(-100px);
    }
  
    100% {
      transform: translateY(0px);
    }
  }
  
  .log-in {
    position: relative;
    right: 10px;
    bottom: 10px;
    background-color: #DBB11D;
    padding: 1rem 2.5rem;
    border-radius: 24px;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    cursor: pointer;
    outline: none;
  
    &:hover {
      box-shadow: #DBB11D;
    }
  }
  
  .cover-splash {
    display: grid;
    grid-template-columns: 400px 800px;
    margin: 10% 0px 0px 20%;
  }
  
  .lead-header {
    color: aqua;
    font-size: 36px;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px 20px 25px 0px;
    animation: rotation 5s cubic-bezier(0.19, 1, 0.22, 1);
  }
  
  @keyframes rotation {
    0% {
      transform: rotateY(180deg);
    }
  
    50% {
      transform: rotateY(50deg);
    }
  
    100% {
      transform: rotateY(0deg);
    }
  }
  
  .lead-desc {
    color: #7B6B6B;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 25px;
  }
  
  .lead-title > button {
    position: relative;
    white-space: nowrap;
    padding: 0.5rem 1.5rem;
    outline: none;
    background-color: #7E8110;
    border-radius: 24px;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: white;
    cursor: pointer;
    animation: 5s xrotate cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  
  @keyframes xrotate {
    0% {
      transform: rotateZ(180deg);
    }
  
    39% {
      transform: rotateX(25deg);
    }
  
    100% {
      transform: rotateX(0deg);
      transform: rotateZ(0deg);
    }
  }
  
  .top-image {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    > img {
      height: 231px;
      width: 400px;
      margin-left: 20px;
      cursor: pointer;
      animation: slideInTop 1.5s cubic-bezier(0.21, 0.19, 0.37, 1.39) 0s 1;
    }
  }
  
  @keyframes slideInTop {
    0% {
      transform: translateY(-100%);
    }
  
    100% {
      transform: translateY(0%);
    }
  }
  
  @keyframes slideInLeft {
    0% {
      transform: translateX(400%);
    }
  
    100% {
      transform: translateX(0);
    }
  }
  
  .shadow {
    animation: slideInLeft 1.5s ease-out 0s 1;
    width: 480px;
    height: 12px;
    background: #937E35;
    border-radius: 95%;
  }
  
  .display-cards {
    margin: 400px 0px 0px 4%;
  }
  
  .card-holder {
    display: flex;
    margin-left: -20px;
  }
  
  .btc-descrip, .ether-descrip, .altcoins-descrip {
    color: white;
    margin-left: 150px;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    padding: 10px 0px 100px 70px;
    width: 400px;
    border: 7px solid #D9DA9C;
    border-radius: 41px;
    animation: pop-out 3.5s ease-in-out;
  }
  
  .btc-descrip:hover, .ether-descrip:hover {
    cursor: pointer;
  }
  
  .altcoins-descrip {
    &:hover {
      cursor: pointer;
    }
  
    > img {
      height: 220px;
      width: 280px;
      object-fit: cover;
    }
  }
  
  @keyframes pop-out {
    0% {
      box-shadow: 20px 20px 10px rgb(66, 66, 21);
      transform: rotateZ(30deg);
    }
  
    70% {
      box-shadow: 20px 20px 10px rgb(146, 146, 98);
      transform: rotateZ(-20deg);
    }
  
    98% {}
  }
  
  .btc-descrip > img, .ether-descrip > img {
    margin: 20px 0px 0px 10px;
    height: 200px;
    width: 200px;
    object-fit: cover;
  }
  
  .btc-descrip > p, .ether-descrip > p, .altcoins-descrip > p {
    margin: 20px 40px 0px 0px;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .crypto-options {
    position: relative;
    margin: 400px 0px 0px 10%;
  }
  
  .dapps {
    margin-left: 150px;
    position: relative;
    display: flex;
    justify-content: space-between;
  }
  
  .circle-wrapper {
    position: relative;
    min-height: 455px;
    min-width: 455px;
  }
  
  .circle {
    position: absolute;
    width: 450px;
    height: 450px;
    background: transparent;
    border-radius: 95%;
    border: 4px solid #CCCF47;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 10px 5px rgb(130, 146, 99);
  }
  
  .one {
    animation-duration: 7s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-right: 100%;
      width: 200%;
    }
  
    75% {
      width: 150%;
    }
  
    to {
      margin-right: 0%;
      width: 100%;
    }
  }
  
  .two {
    animation-duration: 7s;
    animation-name: fadeInOut;
  }
  
  @keyframes fadeInOut {
    from {
      margin-right: 100%;
      height: 200%;
    }
  
    75% {
      width: 150%;
    }
  
    to {
      margin-right: 0%;
      height: 100%;
    }
  }
  
  .three {
    animation-duration: 6.5s;
    animation-name: bounce;
  }
  
  @keyframes bounce {
    0% {
      transform: translateY(200px);
    }
  
    100% {
      transform: rotate(0px);
    }
  }
  
  .circle > img {
    margin-left: 37px;
    height: 250px;
    width: 370px;
    object-fit: cover;
    cursor: pointer;
  }
  
  .dapps-1 {
    > {
      img {
        margin-left: 37px;
        height: 250px;
        width: 370px;
        object-fit: cover;
        cursor: pointer;
        margin-right: 20%;
      }
  
      .circle-wrapper {
        margin-right: 200px;
      }
    }
  
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    margin-top: 400px;
  }
  
  .exploreTitle {
    margin-left: 50px;
  
    > p {
      margin-top: 40px;
      padding: 0px 40px 0px 40px;
      font-size: 18px;
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
    }
  }
  
  .exploreTitle-1 > p, .exploreTitle-2 > p {
    margin-top: 40px;
    padding: 0px 40px 0px 40px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
  }
  
  .exploreTitle > {
    p {
      margin-right: 200px;
    }
  
    h1 {
      display: inline-block;
      margin-left: 200px;
      font-size: 36px;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-weight: bold;
      color: #2EDFCA;
    }
  }
  
  .exploreTitle-1 > h1, .exploreTitle-2 > h1 {
    display: inline-block;
    margin-left: 200px;
    font-size: 36px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: #2EDFCA;
  }
  
  .exploreTitle-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10%;
  
    > h1 {
      margin-right: 200px;
      white-space: nowrap;
    }
  }
  
  .dapps-2 {
    margin-top: 300px;
    display: flex;
  
    > img {
      margin-left: 30px;
      cursor: pointer;
    }
  }
  
  .exploreTitle-2 {
    display: flex;
    flex-direction: column;
    margin: 90px 0px 0px 200px;
    padding-right: 300px;
  }
  
  .line-wrapper-1, .line-wrapper-2 {
    position: relative;
    min-height: 450px;
    max-width: 550px;
  }
  
  .line-wrapper-1 {
    bottom: 1600px;
    left: 550px;
  }
  
  .line-wrapper-2 {
    bottom: 1240px;
    left: 550px;
  }
  
  .connectline1 {
    position: absolute;
    bottom: 0%;
    left: 50%;
    height: 500px;
    border-left: 6px solid #CCCF47;
    transform: rotate(-55deg);
  }
  
  .connectline2 {
    position: absolute;
    bottom: 0%;
    left: 50%;
    height: 500px;
    border-left: 6px solid #CCCF47;
    transform: rotate(53deg);
  }
  
  .signup {
    display: inline-block;
    margin-left: 250px;
    margin-top: -450px;
  }
  
  .more {
    margin-top: 300px;
  }
  
  .sign-up-wrapper {
    min-width: 800px;
    margin-left: 27%;
  }
  
  .form-body {
    position: relative;
    border-radius: 67px;
    padding: 14.5rem 12.5rem;
    width: 935px;
    height: 318px;
    animation: 10s pulseX;
    background-image: linear-gradient(to right, #837544, #E0BD3F);
  }
  
  @keyframes pulseX {
    0% {
      transform: translateX(600px);
    }
  
    100% {
      transform: translateX(0px);
    }
  }
  
  form {
    border: 1px solid grey;
    background-color: white;
    padding: 2px;
  }
  
  .form-holder {
    position: absolute;
    min-width: 470px;
    right: 30%;
    top: 33%;
  }
  
  form > input {
    flex-grow: 2;
    border: none;
    font-size: 25px;
  
    &:focus {
      outline: none;
    }
  }
  
  .form-body > h1 {
    position: absolute;
    top: 5%;
    left: 20%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 36px;
    align-items: center;
  }
  
  button {
    margin-top: 50px;
    margin-left: 70%;
    outline: none;
    background-color: #4BDB48;
    width: 161px;
    height: 58px;
    font-size: 18px;
    font-weight: bold;
  
    &:hover {
      cursor: pointer;
    }
  }
  
  .email {
    margin-top: 50px;
  
    > input {
      font-size: 25px;
    }
  }
  
  .more-wrapper {
    margin-left: -5%;
    padding-bottom: 300px;
    transition: transform 2s cubic-bezier(0.075, 0.82, 0.165, 1) 3s;
  
    &:hover {
      transform: translateX(100%);
    }
  
    ul {
      list-style: none;
      display: flex;
  
      > li {
        white-space: nowrap;
        margin-left: 350px;
        color: white;
        font-size: 18px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      }
    }
  }