body {
  padding-bottom: 50px;
}

.container {
  color: black;
}

.chat-box {
  height: 800px;
  width: 800px;
  background-color: tan;
  margin-left: 30%;
}

.input-box {
  margin-top: 100px;
  margin-left: 30%;

  > form {
    > label {
      color: white;
      font-size: 30px;
      font-weight: 300;
      margin-right: 20px;
    }
  
    > input {
      margin-right: 20px;
      height: 55px;
      width: 450px;
      font-size: 20px;
      outline: none;
    }
  
    > button {
      outline: none;
      font-size: large;
      padding: 1rem 1.25em;
      background-color: lightgreen;
      cursor: pointer;
    }
  }
}

.chat {
  margin-bottom: 50px;
}

.response:nth-child(odd) {
  font-size: 25px;
  padding: 10px 0px 10px 10px;
  background-color: lightblue;
}

.response:nth-child(even) {
  font-size: 25px;
  padding: 10px 0px 10px 600px;
  background-color: lightyellow;  
}

.stocks {
  margin-left: 27.7%;
}

.crypto {
  margin-left: 25%;
}

