* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    &::before, &::after {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
}

body {
    overflow-x: hidden;
    background-color: black;
}

.container {
    position: relative;
}

.pageTitle {
    display: flex;
    padding: 25px 0px 0px 100px;
    animation: topSlide 900ms ease-in-out;
  
    > img {
      height: 50px;
      width: 50px;
      margin-right: 25px;
      cursor: pointer;
    }
  }
  
  .taskbar {
    position: relative;
  
    p {
      color: white;
      font-size: 36px;
      font-weight: bold;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
  }

  p {
    &:first-child {
      color: #DEFA37;
    }
  
    &:last-child {
      color: #FADA89;
    }
  }

  .taskbar > ul {
    position: absolute;
    top: 20px;
    left: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 10px;
    margin: 5px 250px 0px 0px;
    animation: topSlide 900ms ease-in-out;
  
    > li {
      padding-left: 100px;
      color: white;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: 1.2rem;
      list-style: none;
      white-space: nowrap;
      cursor: pointer;
    }
  }

  @keyframes topSlide {
    0% {
      transform: translateY(-100px);
    }
  
    100% {
      transform: translateY(0px);
    }
  }
  
  .log-in {
    position: relative;
    right: 10px;
    bottom: 10px;
    background-color: #DBB11D;
    padding: 1rem 2.5rem;
    border-radius: 24px;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    cursor: pointer;
    outline: none;
  
    &:hover {
      box-shadow: #DBB11D;
    }
  }
  
