.resultCard {
  height: 448px;
  width: 363px;
  background: linear-gradient(90deg, rgba(233,201,9,1) 34%, rgba(255,180,0,1) 64%);
  border: 1px solid red;
  margin-left: 100px;
  border-radius: 6px;
}

.resultCard:hover {
  box-shadow: 10px 6px white;
  transition: box-shadow 0.4s ease-in-out;
  cursor: pointer;
}

.result-cards {
  margin-top: 200px;
}

.card-display {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  gap: 7rem;
  padding-bottom: 50px;
}

.name-div {
  margin-left: 40%;
}

.price-div {
  margin-left: 20%;
}

.info-container {
  margin-top: 170px;
  display: grid;
  grid-template-columns: auto auto;
  gap: 1.5rem;
}

.card-name {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
  line-height: normal;
  margin-bottom: 50px;
}

.price-div > h3 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 25px;
  margin-bottom: -5px;
}

.volume, .market-cap, .max-supply, .interval-hour {
  font-size: 20px;
}