$color: hsl(200, 50%, 50%);

.resultCard {
  position: relative;
  height: 448px;
  width: 363px;
  background: linear-gradient(90deg, rgba(233,201,9,1) 34%, rgba(255,180,0,1) 64%);
  border: 1px solid red;
  margin-left: 100px;
  border-radius: 6px;

  &:hover {
    box-shadow: 10px 6px white;
    transition: box-shadow 0.4s ease-in-out;
    cursor: pointer;

  }
}

.result-cards {
  margin-top: 200px;
}

.card-display {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  gap: 7rem;
  padding-bottom: 50px;
}

.top {
  display: flex;
  align-items:flex-end;
}

.info-container {
  margin-top: 170px;
  margin-left: 20px;
  display: grid;
  grid-template-columns: auto auto;
  gap: 1.5rem;
}

.card-name {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
  line-height: normal;
  margin-bottom: 50px;
  color: purple;
}

.price-div > h3 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 25px;
  margin-bottom: -5px;
}

.volume, .market-cap, .max-supply, .interval-hour, .btn {
  font-size: 20px;
}


.btn {
  position: absolute;
  bottom: 12px;
  margin-top: 1rem;
  margin-left: 1.25rem;
  font-family: 'Open Sans', sans-serif;
  border: none;
  background-color: $color;
  color: white;
  padding: 0.5em 0.75em;
  border-radius: 0.25em;
  cursor: pointer;
  &:hover {
    background: $color
  }

  &.btn-outline {
    left: 150px;
    background: none;
    border: 1px solid $color;
    color: $color;

    &:hover {
      background-color: hsl(200, 50%, 90%);
    }

    &:focus {
      background-color: hsl(200, 50%, 90%);
    }
  }

  +.btn {
    margin-left: 0.25rem;
  }
}


@media only screen and (min-width: 1500px) and (max-width: 1900px) {
  .card-display {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    gap: 3rem;
    padding-bottom: 50px;
  }
}

@media only screen and (min-width: 1100px) and (max-width: 1500px) {
  .card-display {
    display: grid;
    grid-template-columns: repeat(2, 350px);
    gap: 3rem;
    padding-bottom: 50px;
  }

  .resultCard {
    height: 548px;
    width: 363px;
    background: linear-gradient(90deg, rgba(233,201,9,1) 34%, rgba(255,180,0,1) 64%);
    border: 1px solid red;
    margin-left: 100px;
    border-radius: 6px;
  }
}

@media only screen and (min-width: 0px) and (max-width: 1100px) {
  .card-display {
    grid-template-columns: repeat(1, 350px);
    gap: 3rem;
    padding-bottom: 50px;
  
  }
}
