.resultCard {
  height: 448px;
  width: 363px;
  background-color: tan;
  border: 1px solid red;
  margin-left: 100px;
}

.result-cards {
  margin-top: 200px;
}

.card-display {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  gap: 1.5rem;
}