.resultCard {
  position: relative;
  height: 448px;
  width: 363px;
  background: -webkit-gradient(linear, left top, right top, color-stop(34%, #e9c909), color-stop(64%, #ffb400));
  background: linear-gradient(90deg, #e9c909 34%, #ffb400 64%);
  border: 1px solid red;
  margin-left: 100px;
  border-radius: 6px;
}

.resultCard:hover {
  -webkit-box-shadow: 10px 6px white;
          box-shadow: 10px 6px white;
  -webkit-transition: -webkit-box-shadow 0.4s ease-in-out;
  transition: -webkit-box-shadow 0.4s ease-in-out;
  transition: box-shadow 0.4s ease-in-out;
  transition: box-shadow 0.4s ease-in-out, -webkit-box-shadow 0.4s ease-in-out;
  cursor: pointer;
}

.result-cards {
  margin-top: 200px;
}

.card-display {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (300px)[4];
      grid-template-columns: repeat(4, 300px);
  gap: 7rem;
  padding-bottom: 50px;
}

.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.info-container {
  margin-top: 170px;
  margin-left: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  gap: 1.5rem;
}

.card-name {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
  line-height: normal;
  margin-bottom: 50px;
  color: purple;
}

.price-div > h3 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 25px;
  margin-bottom: -5px;
}

.volume, .market-cap, .max-supply, .interval-hour {
  font-size: 20px;
}

.btn {
  position: absolute;
  bottom: 12px;
  margin-top: 1rem;
  margin-left: 1.25rem;
  font-family: 'Open Sans', sans-serif;
  border: none;
  background-color: #8640bf;
  color: white;
  font-size: 16px;
  padding: 0.5em 0.75em;
  border-radius: 0.25em;
  cursor: pointer;
}

.btn:hover {
  background: #8640bf;
}

.btn.btn-outline {
  left: 150px;
  background: none;
  border: 1px solid #8640bf;
  color: #8640bf;
}

.btn.btn-outline:hover {
  background-color: #d9eaf2;
}

.btn.btn-outline:focus {
  background-color: #d9eaf2;
}

.btn + .btn {
  margin-left: 0.25rem;
}

@media only screen and (min-width: 1500px) and (max-width: 1900px) {
  .card-display {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (350px)[3];
        grid-template-columns: repeat(3, 350px);
    gap: 3rem;
    padding-bottom: 50px;
  }
}

@media only screen and (min-width: 1100px) and (max-width: 1500px) {
  .card-display {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (350px)[2];
        grid-template-columns: repeat(2, 350px);
    gap: 3rem;
    padding-bottom: 50px;
  }
  .resultCard {
    height: 548px;
    width: 363px;
    background: -webkit-gradient(linear, left top, right top, color-stop(34%, #e9c909), color-stop(64%, #ffb400));
    background: linear-gradient(90deg, #e9c909 34%, #ffb400 64%);
    border: 1px solid red;
    margin-left: 100px;
    border-radius: 6px;
  }
}

@media only screen and (min-width: 0px) and (max-width: 1100px) {
  .card-display {
    -ms-grid-columns: (350px)[1];
        grid-template-columns: repeat(1, 350px);
    gap: 3rem;
    padding-bottom: 50px;
  }
}
/*# sourceMappingURL=Cards.css.map */