.left-options {
  height: 100vh;
  width: 200px;
}

.left-bar-header {
  display: inline-block;
  height: 30px;
  color: lightblue;
  font-size: 20px;
}

.category {
  margin-top: 200px;
  margin-left: 80px;
  margin-bottom: 20px;
}

.price {
  margin-top: 20px;
  margin-left: 80px;
}

.label {
  color: white;
  font-size: 20px;
  white-space: normal;
}

.finalCheckbox {
  display: flex;
}

.divider {
  height: 1px;
  width: 170px;
  background-color: white;
  margin-left: 40px;
}

input[type=checkbox] {
  width: 20px;
  height: 20px;
}
